version: "3.8"

services:
    postgres:
        image: postgres:alpine
        ports:
            - "5432:5432"
        environment:
            - POSTGRES_USER=${DB_USER}
            - POSTGRES_PASSWORD=${DB_PASSWORD}
            - POSTGRES_DB=${DB_NAME}
        volumes:
            - pg_data:/var/lib/postgresql/data
        networks:
            - app_network

    redis:
        image: redis:alpine
        ports:
            - "6379:6379"
        networks:
            - app_network

    apis:
        build: 
            context: ../../
            dockerfile: app/backend/api/Dockerfile
        # container_name: api_container
        ports:
            - "3000:3000"
        volumes:
            - ./uploads:/usr/src/app/app/backend/uploads

        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - DB_HOST=postgres
            - DB_PORT=5432
            - DB_USER=${DB_USER}
            - DB_PASS=${DB_PASSWORD}
            - DB_NAME=${DB_NAME}
            - PORT=3000

        depends_on:
            - redis
            - postgres

        networks:
            - app_network

        env_file:
            - .env

    worker:
        build: 
            context: ../../
            dockerfile: app/backend/worker/Dockerfile
        volumes:
            - ./uploads:/usr/src/app/app/backend/uploads

        environment:
            - REDIS_HOST=redis
            - REDIS_PORT=6379
            - DB_HOST=postgres
            - DB_PORT=5432
            - DB_USER=${DB_USER}
            - DB_PASS=${DB_PASSWORD}
            - DB_NAME=${DB_NAME}
            - PORT=3001

        depends_on:
            - redis
            - postgres

        networks:
            - app_network

        env_file:
            - .env

networks:
    app_network:
        driver: bridge

volumes:
    pg_data:
